
<html>
<head>
  <title>Video Streaming Web Platform</title>
  <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
  <div class="profile-bar">
    <div class="content">Welcome to our Video Streaming Platform </div>
    <div class="profile-info">
      <!-- Add profile information here -->
    </div>
  </div>
  
  <div class="content">
    
    <div class="video-stream"> 
    <img id="video-stream" src=""></img>
    </div>
    <div class="button-container">
      <button class="start-camera" onclick="startCamera()">Start Camera</button>
      <button class="stop-camera" onclick="stopCamera()">Stop Camera</button>
      <a href="/viewrecords">
      <button class="view-records">View Records</button>
      </a>
    </div>
    <div class="side-box">

      <table  class="div_table">
        <tbody class="table__body">
        
        <tr >
            <th >SN</th>
            <th>liscenceplate no</th>
            <th>Speed</th>
            <th >count</th>
           
        </tr>
        
        <tr>
          <td>1</td>
          <td>fdfdg</td>
          <td>s45</td>
          <td>13</td>
        </tr>
        <tr>
          <td>1</td>
          <td>fdfdg</td>
          <td>s45</td>
          <td>13</td>
        </tr>
      

        {% for viewrecord in viewrecord_list %}
          
              <td>{{viewrecord.pk}}</td>
              <td>{{viewrecord.liscenceplate_no}}</td>
              <td>{{viewrecord.speed}}</td>
              <td>{{viewrecord.count}}</td>
         
        {% endfor %} 
      </tbody>

    </table>

    </div>
   
  </div>
  
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      const table = document.getElementById('div_table');
      const rows = table.getElementsByTagName('tr');
      
      for (let i = 1; i < rows.length; i++) { // Start from 1 to skip the table header row
        const limitCell = rows[i].getElementsByTagName('td')[3];
        const speedCell = rows[i].getElementsByTagName('td')[2];
        
        const limit = parseInt(limitCell.innerText);
        const Speed = parseInt(speedCell.innerText);
        
        if (Speed > limit) {
          speedCell.style.backgroundColor = 'red';
        }
      }
    });
  <!-- Add video player and other content here -->
  
    function startCamera() {
      document.getElementById("video-stream").src ="/video"  
   }
   function stopCamera() {
      document.getElementById("video-stream").src =""  
   }

  </script>
</body>
</html>