
<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Traffic List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Navigation bar -->
  <div class="navbar">
    <div class="logo-container">
      <img src="https://www.shutterstock.com/image-vector/traffic-policeman-holding-stop-sign-260nw-640858120.jpg" alt="Traffic Police">
      <h1>Traffic List</h1>
    </div>
    <ul>
       <li><a href="/dotm">Dashboard</a></li>
      <li><a href="/notice">Notice</a></li>
     
    </ul>
  </div>
  

  <div class="container">
    <div class="button-container">
      <button id="addButton"><i class="fas fa-plus" style="margin-right: 10px;"></i> Add</button>
    </div>

    <table>
      <tr>
        <th>TrafficBooth</th>
        <th>AreaCode</th>
        <th>Location</th>
        
       
      </tr>
      {% for traffic in traffic_list %}
      <tr>
        <td>{{traffic.TrafficBooth}}</td>
        <td>{{traffic.Areacode}}</td>
        <td>{{traffic.location}}</td>
        <td><button class="edit-button"><i class="fas fa-edit"></i> Edit</button></td>
       
        
      </tr>
      {% endfor %}
    </table>
    
  </div>


  <!-- Overlay model for registration of Traffic Booth -->
  <div id="registration_overlay" class="registration_overlay">
    <div class="message-box">
      <button id="closeButton" class="close-button">&times;</button>
      <h2>Register Traffic Booth</h2>
      <form action="{% url 'traffics' %}" method="POST">
        {% csrf_token %}
        <label for="trafficBooth">Traffic Booth:</label>
        <input type="text" id="trafficBooth" name="trafficBooth" required>
    
        <label for="sn">Area Code</label>
        <input type="text" id="sn" name="sn" required>
    
        <label for="areaCode">Location</label>
        <input type="text" id="areaCode" name="areaCode" required>
    
        <button type="submit">Submit</button>
        
        
    </form>
    </div>
  </div>
  
  
  

  <script>
    const addButton = document.getElementById('addButton');
    const overlay = document.getElementById('registration_overlay');
    const closeButton = document.getElementById('closeButton');
    const areaCodeInput = document.getElementById('areaCode');

    

    addButton.addEventListener('click', () => {
      overlay.style.display = 'block';
    });

    closeButton.addEventListener('click', () => {
      overlay.style.display = 'none';
    });
     // Add submit event listener to the form
  const registrationForm = document.querySelector('#registration_overlay form');
  registrationForm.addEventListener('submit', (event) => {
    const areaCodeValue = areaCodeInput.value.trim();
    if (!(/^\d+$/.test(areaCodeValue))) {
      event.preventDefault(); // Prevent form submission
      alert('Area code must only contain numeric values.');
    }
  });
    
    
  </script>
</body>
</html>
