

<html>
    <head>
        <link rel="stylesheet" href="../static/css/viewrecords.css">

</head>
    <body>
      {% if user.is_authenticated%}
      <h3>Hi </h3>
      <a href="{% url 'logout' %}">Logout</a> <br>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}

      <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search" oninput="searchTable() ; updateDownloadLink();">
        <select id="searchOption" style="background-color: #f2f2f2; color: #333; font-size: 13px; padding: 4px; border-radius: 6px;">
          <option value="license">License Plate</option>
          <option value="speed">Speed</option>
          <option value="date">Date</option>
        </select>
      </div>
 
    <!-- <div class="page-container">
      <input type="number" id="pageInput" placeholder="Page">
  </div> -->
        <table  id="myTable">
            <tr >
                <th >SN</th>
                <th>liscenceplate no</th>
                <th>Speed</th>
                <th>limit</th>
                <!-- <th>limit crossed</th> -->
                <th>Date</th>
                <th >IDs</th>
                <th >count</th>
               
            </tr>
           
            {% for viewrecord in viewrecord_list %}
          <tr>
            <td>{{viewrecord.pk}}</td>
            <td>{{viewrecord.liscenceplate_no}}</td>
            <td>{{viewrecord.speed}}</td>
            <td>50</td>
            <td class="date-column">{{viewrecord.date|date:"d/m/Y"}}</td>  
            <td>{{viewrecord.IDs}}</td>
            <td>{{viewrecord.count}}</td>
          </tr>
          {% endfor %}
        </table>

      <p align="center" id="notFoundMessage" style="display: none;">Record Not Found</p>

      <p align="right">
        <!-- <a href="{% url 'download_csv' %}" class="download-btn">Download CSV</a> -->
        <a id="downloadCsvLink" href="#" class="download-btn">Download CSV</a>
    </p>

  
    </body>
</html>



<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const table = document.getElementById('myTable');
    const rows = table.getElementsByTagName('tr');

    for (let i = 1; i < rows.length; i++) {
      const limitCell = rows[i].getElementsByTagName('td')[3];
      const speedCell = rows[i].getElementsByTagName('td')[2];
      
      const limit = parseInt(limitCell.innerText);
      const speed = parseInt(speedCell.innerText);

      if (speed > limit) {
        speedCell.style.backgroundColor = 'red';
      }
    }
  });

  function searchTable() {
    const input = document.getElementById('searchInput').value.toUpperCase();
    const option = document.getElementById('searchOption').value;
    const table = document.getElementById('myTable');
    const rows = table.getElementsByTagName('tr');
    let matchFound = false;

    for (let i = 1; i < rows.length; i++) {
      const licensePlateCell = rows[i].getElementsByTagName('td')[1];
      const licensePlate = licensePlateCell.innerText.toUpperCase();

      const speedCell = rows[i].getElementsByTagName('td')[2];
      const speed = speedCell.innerText.toUpperCase();

      const dateCell = rows[i].getElementsByTagName('td')[4];
      const date = dateCell.innerText.toUpperCase();

      if (
        (option === 'license' && licensePlate.includes(input)) 
      ) {
        rows[i].style.display = '';
        matchFound = true;
        highlightCell(licensePlateCell, input);
      } else if ((option === 'speed' && speed.includes(input))) {
        rows[i].style.display = '';
        matchFound = true;
        highlightCell(speedCell, input);
      } else if ((option === 'date' && date.includes(input))) {
        rows[i].style.display = '';
        matchFound = true;
        highlightCell(dateCell, input);
      } 
      else {
        rows[i].style.display = 'none';
      }
    }

    const notFoundMessage = document.getElementById('notFoundMessage');
    notFoundMessage.style.display = matchFound ? 'none' : 'block';
  }

  function highlightCell(cell, input) {
  const cellText = cell.innerText;
  const regex = new RegExp(`(${input})`, 'gi');
  const highlightedText = cellText.replace(regex, '<span style="background-color: yellow;">$1</span>');
  cell.innerHTML = highlightedText;
}

function updateDownloadLink() {
    const downloadLink = document.getElementById('downloadCsvLink');
    const searchInput = document.getElementById('searchInput').value;
    const searchOption = document.getElementById('searchOption').value;

    let downloadUrl = "{% url 'download_csv' %}";

    if (searchInput && searchOption === 'license') {
      downloadUrl += "?license=" + searchInput;
    } else if (searchInput && searchOption === 'speed') {
      downloadUrl += "?speed=" + searchInput;
    } else if (searchInput && searchOption === 'date') {
      downloadUrl += "?date=" + searchInput;
    }

    downloadLink.href = downloadUrl;
  }
</script>

