

<html>
    <head>
        <link rel="stylesheet" href="../static/css/viewrecords.css">

</head>
    <body>
      {% if user.is_authenticated%}
      <h3>Hi </h3>
      <a href="{% url 'logout' %}">Logout</a> <br>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}

      <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search by License Plate">
    </div>
    <!-- <div class="page-container">
      <input type="number" id="pageInput" placeholder="Page">
  </div> -->
        <table  id="myTable">
            <tr >
                <th >SN</th>
                <th>liscenceplate no</th>
                <th>Speed</th>
                <th>limit</th>
                <!-- <th>limit crossed</th> -->
                <th>Date</th>
                <th >ID</th>
                <th >count</th>
               
            </tr>
           
            {% for viewrecord in viewrecord_list %}
          <tr>
            <td>{{viewrecord.pk}}</td>
            <td>{{viewrecord.liscenceplate_no}}</td>
            <td>{{viewrecord.speed}}</td>
            <td>50</td>
            <td class="date-column">{{viewrecord.date}}</td>
            <td>{{viewrecord.IDs}}</td>
            <td>{{viewrecord.count}}</td>
          </tr>
          {% endfor %}

        </table>
      <p align="right">
        <a href="{% url 'download_csv' %}" class="download-btn">Download CSV</a>
    </p>

  
    </body>
</html>



<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const table = document.getElementById('myTable');
    const rows = table.getElementsByTagName('tr');
    
    for (let i = 1; i < rows.length; i++) { // Start from 1 to skip the table header row
      const limitCell = rows[i].getElementsByTagName('td')[3];
      const speedCell = rows[i].getElementsByTagName('td')[2];
      
      const limit = parseInt(limitCell.innerText);
      const Speed = parseInt(speedCell.innerText);
      
      if (Speed > limit) {
        speedCell.style.backgroundColor = 'red';
      }
    }
  });

  </script>
