
{% extends 'dotm_Dashboard.html' %}


{% block body_block %}


<div class="top-section">
  <!-- Top section content goes here -->
</div>
<div class="bottom-section">
  <div class="left">
    <h3>Station List</h3>
    
    <table>
     
      <tr>
        <th>Station ID</th>
        <th>AreaCode</th>
        <th>Location</th>
        <th>Mac-Address</th>
        
       
      </tr>
      {% for station in stations|slice:":4" %}
      <tr>
        <td>{{ station.IDs }}</td>
        <td>{{ station.areacode }}</td>
        <td>{{ station.location }}</td>
        <td>{{station.mac_address}}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="{% url 'traffics' %}" class="show-more-button">Show More</a>
  </div>
  <div class="right">
    <!-- Right section content goes here -->
      <h3>Preview</h3>
     
    
     
      
      <!-- <h3>Notice</h3>
      <table id="fileTable">
        <thead>
          <tr>
            <th>Notice</th>
            <th>Action</th>
          </tr>
        </thead>
  
        <tbody>
        </tbody>
  
      </table> -->
  </div>
</div>

  {% endblock %}