{% extends 'dotm_Dashboard.html' %}



{% block body_block %}
  <div class="container">
    <div class="button-container">
      <button id="addButton"><i class="fas fa-plus" style="margin-right: 10px;"></i> Add</button>
    </div>

    <table>
      <tr>
        <th>Station</th>
        <th>AreaCode</th>
        <th>Location</th>
        <th>Mac-Address</th>
      </tr>
      {% for station in Station_list %}
      <tr>
        <td>{{station.IDs}}</td>
        <td>{{station.areacode}}</td>
        <td>{{station.location}}</td>
        <td>{{station.mac_address}}</td>
        <td><button class="edit-button"><i class="fas fa-edit"></i> Edit</button></td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <!-- Overlay model for registration of Traffic Booth -->
  <div id="registration_overlay" class="registration_overlay">
    <div class="message-box">
      <button id="closeButton" class="close-button">&times;</button>
      <h2>Register Station Booth</h2>
      <form id="registrationForm" action="{% url 'traffics' %}" method="POST">
        {% csrf_token %}
        <label for="stationID">IDs:</label>
        <input type="text" id="stationID" name="stationID" required>

        <label for="areaCode">Area Code</label>
        <input type="text" id="areaCode" name="areaCode" required>

        <label for="location">Location</label>
        <input type="text" id="location" name="location" required>

        <label for="mac_address">Mac Address</label>
        <input type="text" id="mac_address" name="mac_address" required>

        <button type="submit" id="submit-btn">Submit</button>
      </form>
    </div>
  </div>

  <script>
    const addButton = document.getElementById('addButton');
    const overlay = document.getElementById('registration_overlay');
    const closeButton = document.getElementById('closeButton');
    const editButtons = document.getElementsByClassName('edit-button');
    const registrationForm = document.getElementById('registrationForm');
    const table = document.querySelector('table');

    addButton.addEventListener('click', () => {
      overlay.style.display = 'block';
      resetFormFields();
    });

    closeButton.addEventListener('click', () => {
      overlay.style.display = 'none';
    });

    let selectedRow = null;

    for (const editButton of editButtons) {
      editButton.addEventListener('click', () => {
        overlay.style.display = 'block';
        resetFormFields();

        const row = editButton.parentNode.parentNode;
        const cells = row.getElementsByTagName('td');
        const stationID = cells[0].textContent;
        const areaCode = cells[1].textContent;
        const location = cells[2].textContent;
        const mac_address = cells[3].textContent;

        document.getElementById('stationID').value = stationID;
        document.getElementById('areaCode').value = areaCode;
        document.getElementById('location').value = location;
        document.getElementById('mac_address').value = mac_address;

        selectedRow = row;
      });
    }

    registrationForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const stationID = document.getElementById('stationID').value;
      const areaCode = document.getElementById('areaCode').value;
      const location = document.getElementById('location').value;
      const mac_address = document.getElementById('mac_address').value;

      if (selectedRow) {
        selectedRow.cells[0].textContent = stationID;
        selectedRow.cells[1].textContent = areaCode;
        selectedRow.cells[2].textContent = location;
        selectedRow.cells[3].textContent = mac_address;
      } else {
        const newRow = document.createElement('tr');
        const stationIDCell = document.createElement('td');
        const areaCodeCell = document.createElement('td');
        const locationCell = document.createElement('td');
        const mac_addressCell = document.createElement('td');
        const editButtonCell = document.createElement('td');
        const editButton = document.createElement('button');
        const editIcon = document.createElement('i');

        stationIDCell.textContent = stationID;
        areaCodeCell.textContent = areaCode;
        locationCell.textContent = location;
        mac_addressCell.textContent = mac_address;

        editIcon.classList.add('fas', 'fa-edit');
        editButton.classList.add('edit-button');
        editButton.appendChild(editIcon);
        editButtonCell.appendChild(editButton);
        newRow.appendChild(stationIDCell);
        newRow.appendChild(areaCodeCell);
        newRow.appendChild(locationCell);
        newRow.appendChild(mac_addressCell);
        newRow.appendChild(editButtonCell);
        table.appendChild(newRow);
      }

      overlay.style.display = 'none';
      resetFormFields();
    });

    function resetFormFields() {
      document.getElementById('stationID').value = '';
      document.getElementById('areaCode').value = '';
      document.getElementById('location').value = '';
      document.getElementById('mac_address').value = '';
      selectedRow = null;
    }
  </script>
{% endblock %}
