{% extends 'dotm_Dashboard.html'%}


{% block body_block %}
  <div class="container">
    <div class="button-container">
      <button id="addButton"><i class="fas fa-plus" style="margin-right: 10px;"></i> Add</button>
    </div>

    <table>
      <tr>
        <th>Station</th>
        <th>AreaCode</th>
        <th>Location</th>
        <th>Mac-Address</th>
        
       
      </tr>
      {% for station in Station_list %}
      <tr>
        <td>{{station.IDs}}</td>
        <td>{{station.areacode}}</td>
        <td>{{station.location}}</td>
        <td>{{station.mac_address}}</td>
        <td><button class="edit-button"><i class="fas fa-edit"></i> Edit</button></td>
       
        
      </tr>
      {% endfor %}
    </table>
    
  </div>


  <!-- Overlay model for registration of Traffic Booth -->
  <div id="registration_overlay" class="registration_overlay">
    <div class="message-box">
      <button id="closeButton" class="close-button">&times;</button>
      <h2>Register Traffic Booth</h2>
      <form action="{% url 'registration' %}" method="POST">
        {% csrf_token %}
        <label for="IDs">IDs:</label>
        <input id="stationID" name="stationID" required>
        {{ form.IDs }}
      
        <label for="areacode">Area Code</label>
        <input  id="areacode" name="areacode" required>
        {{form.areacode}}

        <label for="location">Location:</label>
        <input  id="location" name="location" required>
        {{ form.location }}

        <label for="mac_address">MAC Address:</label>
        <input  name="mac_address" required>
        {{ form.mac_address }}
        <br>

        <button type="submit">Submit</button>

    </form>
    </div>
  </div>
  
  
  

  <script>
    const addButton = document.getElementById('addButton');
    const overlay = document.getElementById('registration_overlay');
    const closeButton = document.getElementById('closeButton');
    const areaCodeInput = document.getElementById('areaCode');

    

    addButton.addEventListener('click', () => {
      overlay.style.display = 'block';
    });

    closeButton.addEventListener('click', () => {
      overlay.style.display = 'none';
    });
     // Add submit event listener to the form
  const registrationForm = document.querySelector('#registration_overlay form');
  registrationForm.addEventListener('submit', (event) => {
    const areaCodeValue = areaCodeInput.value.trim();
    if (!(/^\d+$/.test(areaCodeValue))) {
      event.preventDefault(); // Prevent form submission
      alert('Area code must only contain numeric values.');
    }
  });
    
    
  </script>

{% endblock %}
